In [21]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('/Users/swaroopbasavarajmusti/Desktop/2023-03-07 3_38pm (1).csv')

In [40]:
df

,REPORT_WEEK,COUNTRY,CITY,STORE_ID,TOTAL_ORDERS,GMV,CUSTOMER_PAID,GMV_EUR,CUSTOMER_PAID_EUR,GMV_PROMO,...,NB_INCIDENTS,TOTAL_HOURLY_ACTIVE_RIDERS,TOTAL_HOURLY_ACTIVE_PICKERS,P80_IDLE_TIME_SEC,P80_ASSIGNED_TIME_SEC,P80_COMPLETION_TIME_SEC,P80_COMPLETION_ETA_SEC,P80_READY_TIME_SEC,P80_PREP_TIME_SEC,P80_DELIVERY_TIME_SEC
0,2021-11-08T00:00:00Z,Germany,Berlin,607d595c6416362c3056a2a3,2360,51740.9090,53081.844217,51740.9090,53081.844217,13125.4250,...,137.0,849.0,311.0,73.25,0.0,1561.50,1199.0,391.00,158.00,940.75
1,2021-09-27T00:00:00Z,Germany,Munich,60cb51b466aac7019f467202,2821,65276.2000,69991.111997,65276.2000,69991.111997,10820.1500,...,100.0,761.0,348.0,176.75,0.0,1631.50,1439.0,452.75,178.00,950.25
2,2021-11-29T00:00:00Z,Germany,Berlin,60e5be8703c8cd48380f7d93,846,20185.7920,20996.490000,20185.7920,20996.490000,6196.4260,...,43.0,286.0,221.0,99.50,212.0,2260.50,1739.0,792.50,170.00,938.00
3,2021-04-05T00:00:00Z,Germany,Frankfurt,6044e83dc4f9db1a311a0c90,916,19480.3000,20019.838500,19480.3000,20019.838500,3394.8400,...,30.0,706.0,181.0,5.00,1.0,685.00,779.0,26.00,109.00,566.00
4,2022-03-07T00:00:00Z,Germany,Köln,603fd7a5f5958661fd5a96c0,2170,54743.1535,55120.610000,54743.1535,55120.610000,18809.5345,...,33.0,818.0,346.0,65.00,1.0,1225.50,1199.0,127.00,157.00,912.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7521,2023-01-23T00:00:00Z,Germany,Düsseldorf,6045fea095edb91ffe5cf3cd,1530,46498.0754,49520.930000,46498.0754,49520.930000,7346.1800,...,22.0,476.0,273.0,135.50,238.5,2332.00,2399.0,801.50,176.00,1079.50
7522,2023-01-02T00:00:00Z,Germany,Essen,60b3fb665789cd5cd5c4c7bd,1112,30724.4800,32865.260000,30724.4800,32865.260000,6156.4800,...,43.0,458.0,234.0,76.00,204.8,2640.00,2159.0,871.00,173.00,1128.80
7523,2023-02-13T00:00:00Z,Germany,Köln,6006c944a309ba6538d44c19,1925,60502.3240,63265.700000,60502.3240,63265.700000,12804.9620,...,35.0,737.0,266.0,172.50,220.5,2023.00,2459.0,624.00,158.75,964.00
7524,2022-10-03T00:00:00Z,Germany,Berlin,61e06df709554a281b5c9bd4,1000,31015.1750,32600.980000,31015.1750,32600.980000,5801.1525,...,52.0,358.0,177.0,272.50,286.0,2737.50,1979.0,954.50,185.00,1164.50
7525,2022-09-26T00:00:00Z,Germany,Frankfurt,6092d9e2884d550a74d64a2c,1980,57465.9017,56452.700000,57465.9017,56452.700000,17575.0154,...,138.0,497.0,275.0,275.50,188.0,2691.25,1949.0,870.50,211.50,1187.50

In [41]:
sales_num = df.groupby(['CITY'])['TOTAL_ORDERS','GMV'].sum()
sales_num['GMV'] = sales_num['GMV'].astype(int)

/var/folders/67/njs_9h493jg413mvx8b246nr0000gp/T/ipykernel_98366/1831031446.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_num = df.groupby(['CITY'])['TOTAL_ORDERS','GMV'].sum()

In [43]:
sales_num.sort_values(by = ['TOTAL_ORDERS'],ascending=False)
sales_num['AVG_OV'] = sales_num['GMV']/sales_num['TOTAL_ORDERS']
sales_num

               TOTAL_ORDERS        GMV     AVG_OV
CITY
Augsburg             110371    2808636  25.447228
Berlin              4409997  114406510  25.942537
Bochum                24033     522472  21.739774
Bonn                 151238    3539771  23.405302
Bremen               203206    4971849  24.467038
Darmstadt             58176    1414161  24.308323
Dortmund              78514    1596949  20.339672
Dresden              160515    3882482  24.187658
Düsseldorf           705305   17123849  24.278644
Essen                126293    2904001  22.994156
Frankfurt            643670   16474963  25.595356
Fürth                 79702    2090654  26.230885
Gelsenkirchen         44406     825868  18.598117
Hamburg             1633167   40358918  24.712058
Hanover              197212    5008471  25.396381
Heidelberg            99327    2357883  23.738591
Karlsruhe            167559    4190550  25.009400
Köln                1078366   25770554  23.897781
Leipzig              329645    7801501  23.666371
Mannheim              47772    1196282  25.041489
Munich              1562092   40980360  26.234281
Münster               37714     783495  20.774646
Nuremberg            188492    4839590  25.675307
Offenbach             98877    2326517  23.529405
Stuttgart            270373    6769490  25.037596